@import "tailwindcss";

body {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}